.button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  background-size: contain;
}

.btn-bg-color--yellow {
  background-color: #ffd74b;
}

.btn-bg-color--white {
  background-color: #edeff6;
}

.phone-button {
  height: 40px;
  width: 40px;
  background-image: url(/src/imgs/buttons/icon-phone-btn.svg);
}
.mail-button {
  height: 40px;
  width: 40px;
  background-image: url(/src/imgs/buttons/icon-mail-btn.svg);
}
.auth-button {
  height: 40px;
  width: 190px;
  background-image: url(/src/imgs/buttons/icon-auth-btn.svg);
}

.auth-button--large {
  height: 50px;
  width: 270px;
  background-image: url(/src/imgs/buttons/icon-auth-btn-large.svg);
}

.more-button {
  width: 276px;
  height: 80px;
  background-image: url(/src/imgs/buttons/icon-more-btn.svg);
}

.standard-btn {
  width: 100%;
  height: 100%;
  padding: 0 23px;

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* font-size: 18px;
  line-height: 18px; */
  text-align: start;

  color: #1d2e5b;
}

.btn-blue-border-3px {
  border: 3px solid #192144;
}

@media (min-width: 768px) {
  .standard-btn {
    padding: 0 32px;
  }
}
