.button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.phone-button {
  height: 40px;
  width: 40px;
  background-image: url(/src/imgs/buttons/icon-phone-btn.svg);
}
.mail-button {
  height: 40px;
  width: 40px;
  background-image: url(/src/imgs/buttons/icon-mail-btn.svg);
}
.auth-button {
  height: 40px;
  width: 190px;
  background-image: url(/src/imgs/buttons/icon-auth-btn.svg);
}

.auth-button--large {
  height: 50px;
  width: 270px;
  background-image: url(/src/imgs/buttons/icon-auth-btn-large.svg);
}

.more-button {
  width: 276px;
  height: 80px;
  background-image: url(/src/imgs/buttons/icon-more-btn.svg);
}
