@media (min-width: 1440px) {
  * {
    --after-bg: #fff;
  }

  .header {
    display: flex;
    height: 90px;
    padding: 0 60px;
    align-items: center;
  }

  .header-content {
    flex-direction: row;
    align-items: flex-end;
    width: 1320px;
    height: 50px;
  }

  .main-logo--mobile {
    display: none;
  }

  .main-logo--tablet {
    width: 200px;
    height: 50px;
    display: block;
  }

  .header_logo::after {
    position: relative;
    top: -26px;
    left: calc(2vw + 230px);
    content: "";
    background-color: var(--after-bg);
    width: 60px;
    height: 2px;
    display: block;
  }

  .icon-menu_mobile {
    display: none;
  }

  .header_buttons {
    width: 288px;
    display: flex;
  }

  .phone-button {
    height: 50px;
    width: 50px;
  }

  .mail-button {
    height: 50px;
    width: 50px;
  }

  .auth-button {
    height: 50px;
    width: 188px;
    background-image: url(/src/imgs/buttons/icon-auth-btn-desktop.svg);
  }

  .header_navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    width: 391px;
  }

  /* background */
  .mobile-background {
    display: none;
  }

  .desktop-background {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .promo-section_background-desktop-image-2 {
    padding-right: 60px;
  }

  .promo-section {
    height: 1500px;
    background-color: #192144;
    border-radius: 0 0 25px 25px;
  }

  .promo-section_background-desktop-traveller-image {
    position: absolute;
    top: 110px;
    right: 405px;
  }

  .promo-section_background-blue-block {
    display: block;
    position: absolute;
    top: 820px;
    left: 60px;
    width: 212px;
    height: 212px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #141b3b;
  }

  /* promo section content */

  .promo-section_content {
    display: grid;
    width: 1320px;

    grid-template-columns: 70px 966px 1fr;
    grid-template-rows: 120px 410px 362px 370px 1fr;

    grid-template-areas:
      ". . ."
      ". el1 el3"
      "el4 el4 el4"
      ". el5 ."
      ". el6 .";
  }

  .promo-section_content > * {
    margin: 0;
    align-self: start;
    justify-self: start;
  }

  .promo-section_el-1 {
    grid-area: el1;
    width: 420px;
  }

  .promo-section_el-2 {
    display: none;
  }

  .promo-section_el-3 {
    height: 185px;
    width: 270px;
    grid-area: el3;
  }

  .promo-section_el-4 {
    grid-area: el4;
    display: flex;
    width: 100%;
  }

  .promo-section_el-5 {
    width: 620px;
    height: 290px;
    grid-area: el5;
  }

  .promo-section_el-5 > *:nth-child(3) {
    width: 425px;
  }

  .promo-section_el-6 {
    display: block;
    grid-area: el6;
  }

  .flow-section_step {
    border-radius: 10px;
    width: 375px;
    height: 107px;
    position: relative;
    top: 0;
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .flow-section_step:nth-child(n) {
    top: 0;
    height: 107px;
  }

  .flow-section_step:nth-child(1) {
    width: 345px;
  }
  .flow-section_step:nth-child(2) {
    width: 375px;
    left: -30px;
  }
  .flow-section_step:nth-child(3) {
    width: 375px;
    left: -60px;
  }
  .flow-section_step:nth-child(4) {
    width: 315px;
    left: -90px;
  }

  .flow-section_text {
    margin: 30px 0 0 34px;
  }
  .flow-section_number {
    margin: 30px 64px 0 0;
    color: #fff;
    font-family: Blogger Sans;
    font-size: 24px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  .flow-section_step:nth-child(4) > .flow-section_number {
    margin: 30px 33px 0 0;
  }

  /* directions section */

  .directions-section {
    height: 808px;
  }

  .directions-section_background {
    height: 808px;
    display: flex;
    justify-content: center;
  }
  .background_images-container {
    width: 1320px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 90px 60px 0 60px;
  }

  .directions-section_background .background_figure {
    margin: 0;

    width: 141px;
    height: 141px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #e2e5f2;
  }

  .directions-section_background .background_flag_img {
    width: 287px;
    height: 575px;
  }

  .directions-section_content {
    padding: 160px 0 0 0;
    width: 1110px;
    height: 440px;

    display: grid;
    grid-template-rows: 360px 1fr;
    grid-template-columns: 730px 1fr;
    grid-template-areas: "b a" "b c";

    align-items: start;
    justify-items: start;
  }

  .directions-section_text {
    grid-area: a;
    width: 378px;
    height: 268px;
    margin-bottom: 104px;
    margin: 0;
  }

  .directions-section_cards {
    grid-area: b;
    width: 560px;
    height: 440px;

    margin-bottom: 46px;
    margin: 0;
  }

  .directions-section_button {
    grid-area: c;
    width: 275px;
    height: 80px;

    margin: 0;
  }

  .directions-section_cards {
    width: 620px;
    height: 440px;
    margin-bottom: 46px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .directions-section_card {
    position: relative;
    width: 560px;
    height: 140px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .card_image {
    position: relative;
    width: 185px;
    height: 140px;

    border-radius: 0 20px 20px 0;
  }

  .card_flag {
    position: absolute;

    left: 25px;
    top: -12px;

    width: 35px;
    height: 24px;
  }

  .card_content {
    position: relative;

    z-index: 10;
    width: 435px;
    height: 140px;
    top: 0;
    padding: 30px 30px 24px 30px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border-radius: 20px 0 0 20px;
    background-color: #fff;
  }

  .country-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .czech-bg {
    background-image: url(/src/imgs/directions-section/czech-desktop\ 3.svg);
  }

  .france-bg {
    background-image: url(/src/imgs/directions-section/france-desktop\ 2.svg);
  }

  .thailand-bg {
    background-image: url(/src/imgs/directions-section/thailand-desktop\ 3.svg);
  }

  .user-views {
    position: relative;
    left: 32px;
  }

  .user-views::before {
    content: "";
    display: block;
    position: absolute;
    left: -32px;
    top: -4px;
    background-image: url(/src/imgs/directions-section/icon_user_tablet.svg);
    width: 24px;
    height: 24px;
  }

  .card-fade {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 500;
    width: 560px;
    height: 80px;
    background-image: url(/src/imgs/directions-section/fade\ 1.svg);
  }

  /* companions section */

  .companions-section {
    height: 751px;
  }

  .companion-background_images-container {
    width: 1320px;
    padding-top: 70px;

    grid-template-rows: 64px 252px 1fr;
    grid-template-columns: 130px 357px 1fr;
    grid-template-areas:
      "block . ."
      ". . men"
      ". women .";
  }

  .companions-blue-block {
    width: 212px;
    height: 212px;
    border-radius: 20px;
  }
  .companions-women-bg-img {
    padding-top: 0px;

    width: 285px;
    height: 285px;
  }

  .companions-men-bg-img {
    width: 143px;
    height: 143px;
  }

  .companions-section_content {
    width: 1320px;
    padding: 130px 0 134px 69px;

    display: grid;
    grid-template-columns: 621px 1fr;
    grid-template-rows: 4px 403px 1fr;
    grid-template-areas:
      "text ."
      ". cards"
      "button .";
  }

  .companions-section_text {
    grid-area: text;
    width: 428px;
    height: 322px;
  }

  .companions-section_cards {
    grid-area: cards;
    width: 630px;
    height: 483px;
    flex-direction: row;
  }

  .companions-section_button {
    grid-area: button;
    width: 280px;
    height: 80px;
  }

  /* business plans */

  .business-plans-section {
    height: 750px;
  }

  .business-plans-background_images-container {
    display: flex;
    width: 1440px;
    padding: 235px 244px 215px 750px;
  }
}
