@media (min-width: 1440px) {
  * {
    --after-bg: #fff;
  }

  .header {
    display: flex;
    height: 90px;
    padding: 0 60px;
    align-items: center;
  }

  .header-content {
    flex-direction: row;
    align-items: flex-end;
    width: 1320px;
    height: 50px;
  }

  .main-logo--mobile {
    display: none;
  }

  .main-logo--tablet {
    width: 200px;
    height: 50px;
    display: block;
  }

  .header_logo::after {
    position: relative;
    top: -26px;
    left: calc(2vw + 230px);
    content: "";
    background-color: var(--after-bg);
    width: 60px;
    height: 2px;
    display: block;
  }

  .icon-menu_mobile {
    display: none;
  }

  .header_buttons {
    width: 288px;
    display: flex;
  }

  .phone-button {
    height: 50px;
    width: 50px;
  }

  .mail-button {
    height: 50px;
    width: 50px;
  }

  .auth-button {
    height: 50px;
    width: 188px;
    background-image: url(/src/imgs/buttons/icon-auth-btn-desktop.svg);
  }

  .header_navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    width: 391px;
  }

  /* background */
  .mobile-background {
    display: none;
  }

  .desktop-background {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .promo-section_background-desktop-image-2 {
    padding-right: 60px;
  }

  .promo-section {
    height: 1500px;
    background-color: #192144;
    border-radius: 0 0 25px 25px;
  }
}
