* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  position: relative;
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.main-content {
  padding-top: 73px;
}

/* header */

.header {
  position: fixed;
  top: 0;
  height: 73px;
  padding: 0 25px;

  z-index: 500;

  width: 100%;
  /* padding: 0 25px; */
}

.header_buttons {
  display: none;
}

.header_navbar {
  display: none;
}

.header_auth-button {
  display: none;
}

.main-logo--mobile {
  height: 15px;
  width: 96px;
}

.main-logo--tablet {
  display: none;
}

.bg-color-blue {
  background-color: #161c35;
}

.header-content {
  /* width: 100%; */
  height: 100%;
  max-width: 1320px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-menu_mobile {
  display: block;
  width: 25px;
  height: 20px;
}

main {
  width: 100%;
}

.bg-color-white {
  background-color: #fff;
}

/* promo-section */

.promo-section {
  position: relative;
  width: 100%;
  height: 1396px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #161c35;
  border-radius: 0 0 25px 25px;
}

.promo-section_background-content {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.promo-section_background-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 282px;
  width: 100vw;
  height: 632px;
  background-color: #192144;
  border-radius: 0 0 25px 25px;
}

.promo-section_background-mobile-image-1 {
  width: 320px;
  height: 477px;
  object-fit: cover;
  object-position: 0 0;
}

.promo-section_background-mobile-traveller-image {
  top: 222px;
  position: absolute;
}

.desktop-background {
  display: none;
}

.tablet-background {
  display: none;
}

.promo-section_background-tablet-image-1 {
  display: block;
  margin-top: 250px;
}

.mobile-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-section_content {
  width: 320px;
  height: 100%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.promo-section_el-1 {
  width: 238px;
  margin-top: 41px;
}

.promo-section_el-2 {
  margin-top: 295px;
  display: flex;
  bottom: 20px;
  width: 270px;
  height: 40px;
}
.promo-section_el-3 {
  margin-top: 28px;
  width: 220px;
  height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-section_el-4 {
  margin-top: 29px;
  width: 270px;
  height: 320px;
}

.promo-section_el-5 {
  margin-top: 72px;
  width: 210px;
  height: 238px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-section_el-6 {
  display: none;
}

.flow-section_step {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.flow-section_step:nth-child(1) {
  background-color: #ff8d30;
}
.flow-section_step:nth-child(2) {
  background-color: #ffa530;
  top: -80px;
}
.flow-section_step:nth-child(3) {
  background-color: #ffbd30;
  top: -160px;
}
.flow-section_step:nth-child(4) {
  background-color: #ffd74b;
  top: -240px;
  height: 80px;
}

.flow-section_text {
  margin: 24px 0 0 22px;
}
.flow-section_number {
  margin: 22px 21px 0 0;
  color: #fff;
  font-family: Blogger Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

/* directions section */

.directions-section {
  position: relative;
  display: flex;
  justify-content: center;
  height: 992px;
}

.background_images-container {
  display: none;
}

.directions-section_content {
  padding: 71px 0 34px 0;
  width: 270px;
  height: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.directions-section_text {
  width: 216px;
  height: 144px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.directions-section_cards {
  width: 270px;
  height: 590px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.directions-section_button {
  width: 270px;
  height: 62px;
}

.directions-section_card {
  position: relative;
  width: 270px;
  height: 190px;
}
.card_image {
  width: 270px;
  height: 110px;
}

.card_flag {
  position: absolute;

  left: 25px;
  top: -12px;

  width: 35px;
  height: 24px;
}

.card_content {
  position: relative;

  z-index: 10;
  top: -10px;
  width: 270px;
  height: 90px;

  display: flex;
  padding: 26px 24px 0 24px;
  justify-content: space-between;

  border-radius: 10px;
  background-color: #fff;
}

.czech-bg {
  background-image: url(/src/imgs/directions-section/czech-mobile\ 1.svg);
}

.france-bg {
  background-image: url(/src/imgs/directions-section/france-mobile\ 1.svg);
}

.thailand-bg {
  background-image: url(/src/imgs/directions-section/thailand-mobile\ 1.svg);
}

.czech-flag {
  background-image: url(/src/imgs/directions-section/Czech\ 1.svg);
}

.france-flag {
  background-image: url(/src/imgs/directions-section/France\ 1.svg);
}

.thailand-flag {
  background-image: url(/src/imgs/directions-section/Thailand\ 1.svg);
}

.user-views {
  position: relative;
}

.user-views::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  /* z-index: 200; */
  background-image: url(/src/imgs/directions-section/icon_user.svg);
  /* background-color: #000; */
  width: 14px;
  height: 14px;
}

.card-fade {
  display: none;
}

/* companions section */

.companions-section {
  position: relative;
  display: flex;
  justify-content: center;
  height: 1321px;
  width: 100vw;
}
.companion-background_images-container {
  width: 320px;
  height: 100%;
  padding-top: 35px;
  display: grid;
  grid-template-rows: 273px 1fr;
  grid-template-columns: 152px 1fr;
  grid-template-areas:
    "block men"
    "women .";
}
.companions-blue-block {
  grid-area: block;
  width: 113px;
  height: 132px;
  background-color: #141b3b;
  border-radius: 0 20px 20px 0;
}
.companions-women-bg-img {
  grid-area: women;
  width: 64px;
  height: 71px;
}
.companions-men-bg-img {
  grid-area: men;
  width: 143px;
  height: 143px;
}

.card-flag {
  width: 35px;
  height: 25px;
}

.companions-section_content {
  height: 100%;
  width: 270px;
  padding: 68px 0 31px 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.companions-section_text {
  width: 217px;
  height: 218px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.companions-section_cards {
  width: 270px;
  height: 865px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.companions-section_button {
  width: 270px;
  height: 61px;
}

.companion-card {
  position: relative;
  width: 270px;
  height: 428px;
  display: flex;
  flex-direction: column;

  border-radius: 20px;
}

.companion-card_image {
  width: 270px;
  height: 270px;
}

.companion-card_content {
  position: relative;
  height: 158px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;

  padding: 27px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.companion-card_progress-bar {
  position: absolute;
  top: 17px;
  left: 17px;

  width: 60px;
  height: 60px;
}

.companion-card-flags {
  position: absolute;
  top: -12px;

  height: 25px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

.companion-card_tags {
  text-align: center;
}

.companion-card_vehicles {
  width: 120px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.companion-card_vehicle {
  width: 25px;
  height: 25px;
}

.companion-card_name {
  position: relative;
}

.companion-card_name-1::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -16px;
  top: 8px;
  background-color: #f97676;
  border-radius: 50%;
}

.companion-card_name-2::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: -16px;
  top: 8px;
  background-color: #81e31e;
  border-radius: 50%;
}

/* business plans */
.business-plans-section {
  position: relative;
  display: flex;
  justify-content: center;
  height: 450px;
  width: 100vw;
}

.business-plans-background_images-container {
  display: none;
}

.business-plans_bg-block {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: #e2e5f2;
}

.business-plans-section_content {
  width: 270px;
  padding: 37px 0 0 25px;

  z-index: 100;

  display: grid;
  grid-template-columns: 145px 1fr;
  grid-template-rows: 16px 115px 228px 1fr;
  grid-template-areas:
    ". image"
    "caption ."
    "table table"
    "button button";
}

.business-plans_caption {
  grid-area: caption;
}

.business-plans_button-container {
  grid-area: button;
  width: 219px;
}

.business-plans_button {
  padding: 0;
}

.business-plans_image {
  grid-area: image;
  width: 100px;
  height: 100px;
}

.business-plans_table {
  grid-area: table;
  display: flex;
  flex-direction: column;

  width: 244px;
  height: 198px;
}

.business-plans_icon {
  display: none;
  grid-area: icon;
  width: 68px;
  height: 68px;
}

.business-plans_table-row {
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
}

.business-plans_table-step-number {
  width: 34px;
  height: 34px;
  border-radius: 50%;

  margin-top: 3px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.business-plans_table-row:nth-child(1) > .business-plans_table-step-number {
  background-color: #ff8d30;
}

.business-plans_table-row:nth-child(2) > .business-plans_table-step-number {
  background-color: #ffbd30;
}

.business-plans_table-row:nth-child(3) > .business-plans_table-step-number {
  background-color: #ffd74b;
}

.business-plans_table-text-container {
  position: relative;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.business-plans_table-text-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0px;

  width: 100%;
  height: 1px;

  background-color: #e1e3e9;
}

.business-plans_table-row:nth-child(3)
  > .business-plans_table-text-container::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 1px;

  background-color: #e1e3e9;
}

.contects-section {
  width: 100vw;
}

.contacts-1-gackground {
  border-radius: 0;
}

.contacts-section_content {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.contacts-section_visible-part {
  position: relative;
  height: 116px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contacts-section_title {
  margin-top: 76px;
}

.contacts-section_hidden-part {
  display: none;
  position: relative;
  height: 407px;
}

.contacts-section-text {
  width: 210px;
  height: 88px;
  text-align: center;
}

.contacts-section_email-block {
  position: relative;
  width: 260px;
  height: 62px;
}

.contacts-section_email-input {
  height: 100%;
  width: 220px;
  border: 0px;
  border-radius: 10px 0 0 10px;
  padding: 0 25px;
}

.contacts-section_send-email-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
}

.contacts-section_text-2 {
  height: 30px;
  text-align: center;
}

.contacts-section_contacts {
  width: 270px;
  height: 90px;
}

.contact-block {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.desktop-only {
  display: none;
}

.contact-logo {
  width: 45px;
  height: 45px;
}

/* route section */

.route-section {
  position: relative;
  height: 206px;
}

.routes-content {
  z-index: 100;
  height: 100%;
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.routes_address-container {
  /* position: relative; */
  z-index: 100;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.routes_button-container {
  z-index: 100;
  width: 100%;
  height: 62px;
}

.disabled-if-not-interested--block {
  position: relative;
  display: none;
}

.map-section {
  position: relative;
  height: 424px;
  width: 100%;
  top: -20px;
}
.map {
  height: 100%;
  width: 100%;
}

/* footer */

.footer {
  position: absolute;
  bottom: -200px;
  height: 240px;
  background-color: #fff;
  width: 100%;
  border-radius: 25px 20px 0 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.footer_logo {
  position: relative;
  z-index: 500px;
  width: 96px;
  height: 35px;
}

.footer_socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.footer_developers {
  position: relative;
  display: flex;
  width: 270px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media (max-width: 767px) {
  .footer_developers::before {
    position: absolute;
    top: -13px;
    content: "";
    width: 270px;
    height: 1px;
    background-color: #f2f2f2;
  }
}
