.modal-menu {
  width: 100vw;
  /* height: 100vh; */
  /* height: 568px; */
  background-color: #fff;
  display: none;
  position: fixed;
  z-index: 4;
  margin-top: 53px;

  justify-content: center;
  align-items: center;
}

.modal-menu_contact-section {
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-menu_socials {
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-menu_content {
  width: 270px;
  height: 568px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal-menu_caption {
  height: 105px;
  width: 193px;
  text-transform: uppercase;
}

.modal-menu_contact-section {
  height: 45px;
  gap: 16px;
}

.modal-menu_socials {
  width: 105px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .modal-menu_content {
    width: 570px;
    height: 910px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .modal-menu_caption {
    height: 197px;
    width: 383px;
    text-transform: uppercase;
  }

  .modal-menu_auth-button-mobile {
    display: none;
  }

  .modal-menu_contact-logo {
    width: 68px;
    height: 68px;
  }

  .modal-menu_contact-section {
    height: 68px;
    gap: 24px;
  }

  .modal-menu_socials {
    margin-left: 26px;
    width: 140px;
  }

  .modal-menu_facebook-logo {
    width: 14px;
    height: 28px;
  }

  .modal-menu_vkontakte-logo {
    width: 31px;
    height: 16px;
  }

  .modal-menu_instagram-logo {
    width: 24px;
    height: 24px;
  }
}
